    <section class="footer-section">
      <div class="footer">
        <div>
          <img
            loading="lazy"
            class="footer-logo"
            src="/images/logo.png"
            alt="the luxury travel logo of this website"
          />
        </div>
        <div class="footer-container">
          <h3 class="heading">Travel Tools</h3>
          <ul class="footer-list">
            <li>
              <a href="travellers/where-next">Where To Travel Next?</a>
            </li>
            <li>
              <a href="/paradise-ai">Paradise AI</a>
            </li>
            <li>
              <a href="travellers/ebooks">Travel guides and ebooks</a
              >
            </li>
          </ul>
        </div>
        <div class="footer-container">
          <h3 class="heading">Discover</h3>
          <ul class="footer-list">
            <li><a href="/Destinations">Destinations</a></li>
            <li><a href="/experiences">Experiences</a></li>
            <li><a href="/blog">Blogs</a></li>
            <li><a href="/countries">Countries</a></li>
          </ul>
        </div>
        <div class="footer-container">
          <h3 class="heading">Know Us</h3>
          <ul class="footer-list">
            <li>
              <a href="/About-Us.html" target="_blank"
                >About Us</a
              >
            </li>
            <li>
              <a href="/contact-Us" target="_blank"
                >Contact Us</a
              >
            </li>
            <li>
              <a href="/privacy-policy">Privacy Policy</a>
            </li>
            <li>
              <a href="/affilliate-disclosure">Affiliate Disclosure</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="reserved">
        <p>&copy; 2025 Luxury Travel | All Rights Reserved</p>
      </div>
    </section>