    <section class="h-fit-content rounded-lg new-blogs p-20">
      <div >
        <div>
          <img
            loading="lazy"
            class="footer-logo"
            src="/images/logo.png"
            alt="the luxury travel logo of this website"
          />
        </div>
        <div class="footer-container">
          <h3 class="heading">Best Services</h3>
          <ul class="footer-list">
            <li><a href="#best-campany">Best Luxury company</a></li>
            <li>
              <a
                rel="nofollow noopener"
                target="blank_"
                href="https://expedia.com/affiliates/hotel-search-randheli-island.OkieGo9"
                >Luxury Cruises</a
              >
            </li>
            <li>
              <a
                rel="nofollow noopener"
                target="blank_"
                href="https://www.viator.com/St-Thomas-attractions/Yacht-Haven-Grande/d965-a14287?pid=P00218939&mcid=42383&medium=link&medium_version=selector"
                >Yacht Rentals</a
              >
            </li>
            <li>
              <a
                rel="nofollow noopener"
                target="blank_"
                href="https://www.villiersjets.com/?id=9474"
                >First-Class Travel</a
              >
            </li>
            <li>
              <a rel="nofollow noopener" href="https://amzn.to/4lbDtO5"
                >Travel Gear</a
              >
            </li>
            <li><a href="#travel1">VIP Travel Deals</a></li>
          </ul>
        </div>
        <div class="footer-container">
          <h3 class="heading">Discover</h3>
          <ul class="footer-list">
            <li>
              <a href="/travellers/where-to-visit-next.html">Where Next?</a>
            </li>
            <li>
              <a href="/travellers/travel-paradise-ai.html">Luxury Travel AI</a>
            </li>
            <li><a href="/Destination.html">Destinations</a></li>
            <li>
              <a
                rel="nofollow noopener"
                target="blank_"
                href="https://expedia.com/affiliates/hotel-search-randheli-island.OkieGo9"
                >5-Star Hotels</a
              >
            </li>
            <li><a target="blank_" href="blogs.html">Blogs</a></li>
            <li>
              <a
                target="blank_"
                rel="nofollow noopener"
                href="https://amzn.to/4kpRC9h"
                >Travel guides and ebooks</a
              >
            </li>
            <li>
              <a target="blank_" href="/faqs.html">faqs</a>
            </li>
          </ul>
        </div>
        <div class="footer-container">
          <h3 class="heading">Know Us</h3>
          <ul class="footer-list">
            <li>
              <a target="blank_" href="/About-Us.html" target="_blank"
                >About Us</a
              >
            </li>
            <li>
              <a target="blank_" href="/contact-Us.html" target="_blank"
                >Contact Us</a
              >
            </li>
            <li>
              <a href="/about-josh.html">About Josh</a>
            </li>

            <li>
              <a target="blank_" href="/privacy-policy.html">Privacy Policy</a>
            </li>
            <li>
              <a href="/affilliate-disclosure.html">Affiliate Disclosure</a>
            </li>
            <!-- <li><a href="">Adventure Website</a></li> -->
          </ul>
        </div>
      </div>
      <div class="reserved">
        <p>&copy; 2025 Luxury Travel | All Rights Reserved</p>
      </div>
    </section>