<section class="nav-bar">
  <a href="/">
    <img
      class="logo"
      src="/images/logo.png"
      alt="Luxury Travel Paradise Logo - 5-Star Hotels, Cruises, Private Jets"
    />
  </a>

  <input type="checkbox" id="check" />
  <label for="check" class="icons">
    <i class="bx bx-menu" id="menu_icon"></i>
    <i class="bx bx-x" id="close_icon"></i>
  </label>

  <nav class="flex flex-column-sm">
    <ul class="navMenu">
      <li><a href="/">Home</a></li>
      <li><a href="/blog/">Blogs</a></li>
      <li><a href="/destinations/">Destinations</a></li>
      <li><a  href="/experiences">Experiences</a></li>

      <li>
          <a href="/continents">
             Continents 
             <span class="dropdown-sign"> ▼</span>
          </a>
        <ul class="dropdown_menu travel_dropdownmenu">
          <li><a href="/Europe">Europe</a></li>
          <li><a href="/africa">Africa</a></li>
          <li><a href="/asia">Asia</a></li>
          <li><a href="/north-america">North America</a></li>
          <li><a href="/south-america">South America</a></li>
          <li><a href="/australia">Australia</a></li>
        </ul>
      </li>
    </ul>
  </nav>

  <a href="/travellers/where-to-visit-next.html" class="btn">
    Where Next?
  </a>
</section>
