<div class="navbar blog-navbar">
  <ul class="nav-menu">
    <li>
      <a href="/destinations">
        Destinations
      </a>
    </li>

    <li class="dropdown invisible-dropdown">
      <a href="#">Continents ▾</a>

      <ul class="dropdown-menu">
        <li>
          <a href="/continents/europe">
            Europe
          </a>
        </li>

        <li>
          <a href="/continents/africa">
            Africa
          </a>
        </li>

        <li>
          <a href="/continents/asia">
            Asia
          </a>
        </li>

        <li>
          <a href="/continents/north-america">
            North America
          </a>
        </li>

        <li>
          <a href="/continents/south-america">South America</a>
        </li>

        <li>
           <a href="/continents/australia/">Australia</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
