<div class="ai-sidebar" id="ai-sidebar">
  <div class="ai-sidebar-item" onclick="toggleSidebar()">
    <p>☰ <span class="ai-label">Close</span></p>
  </div>
  <ul>
    <li class="ai-sidebar-item">
      <a class="color-secondary" href="/"
        ><span class="material-symbols-outlined color-blue pr-2"> home </span
        ><span class="ai-label">Home</span></a
      >
    </li>
    <li class="ai-sidebar-item">
      <a class="color-secondary" href="/destinations"
        ><span class="material-symbols-outlined color-blue pr-2"> explore </span
        ><span class="ai-label">Destinations</span></a
      >
    </li>
    <li class="ai-sidebar-item">
      <a class="color-secondary" href="/experiences"
        ><span class="material-symbols-outlined color-blue pr-2"> vrpano </span
        ><span class="ai-label">Experiences</span></a
      >
    </li>
    <li class="ai-sidebar-item">
      <a class="color-secondary" href="/blog"
        ><span class="material-symbols-outlined color-blue pr-2"> post </span
        ><span class="ai-label">Blogs</span></a
      >
    </li>
    <li class="ai-sidebar-item">
      <a class="color-secondary" href="/ebooks"
        ><span class="material-symbols-outlined color-blue pr-2"> book </span
        ><span class="ai-label">Travel Guides</span></a
      >
    </li>
  </ul>
</div>