<div class="ai-navbar">
  <a href="/">
    <img
      class="logo ml-20 mt-20"
      src="https://res.cloudinary.com/dxqnpsj8k/image/upload/v1768646918/logo_oxk1k4.png"
      alt="Paradise Logo - Travel with confidence"
    />
  </a>
  <!-- <div class="ai-nav-title">AI Luxury Travel Advisor</div> -->
</div>