{% set expImage = image or heroImage or "/images/default-experience.jpg" %}
{% set expDesc = excerpt or description or title %}
{% set continentSlug = continent | slug %}
{% set countrySlug = country | slug %}
{% set destSlug = destination | slug %}

<script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@graph": [

  {
    "@type": "TouristAttraction",
    "@id": "https://paradize.life{{ page.url }}#experience",

    "name": "{{ title | escape }}",
    "description": "{{ expDesc | escape }}",

    "image": {
      "@type": "ImageObject",
      "url": "https://paradize.life{{ expImage }}"
    },

    "touristType": "Luxury traveler",

    "isLocatedAt": {
      "@type": "Place",
      "name": "{{ destination }}",
      "containedInPlace": {
        "@type": "Country",
        "name": "{{ country }}"
      }
    },

    "audience": {
      "@type": "Audience",
      "audienceType": "Luxury traveler"
    },

    "subjectOf": {
      "@type": "WebPage",
      "url": "https://paradize.life{{ page.url }}"
    }
  },

 ]
}
</script>
