{% set destImage = image or heroImage or "/images/default-destination.jpg" %}
{% set destDesc = excerpt or description or title %}
{% set continentSlug = continent | slug %}
{% set countrySlug = country | slug %}

{% set relatedExperiences =
  collections.experience
  | selectattr("data.destination", "equalto", title | lower)
%}

<script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@graph": [

  {
    "@type": "TouristDestination",
    "@id": "https://paradize.life{{ page.url }}#destination",

    "name": "{{ title | escape }}",
    "description": "{{ destDesc | escape }}",

    "touristType": "Luxury traveler",

    "image": {
      "@type": "ImageObject",
      "url": "https://paradize.life{{ destImage }}"
    },

    "containedInPlace": {
      "@type": "Country",
      "name": "{{ country }}",
      "url": "https://paradize.life/countries/{{ countrySlug }}/"
    },

    "subjectOf": {
      "@type": "WebPage",
      "url": "https://paradize.life{{ page.url }}"
    },

    "hasPart": [
      {% for exp in relatedExperiences %}
      {
        "@type": "TouristAttraction",
        "name": "{{ exp.data.title | escape }}",
        "url": "https://paradize.life{{ exp.url }}",
        "description": "{{ exp.data.excerpt | default(exp.data.description) | escape }}"
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  },

 ]
}
</script>
