
{% set expImage = image or heroImage or "/images/default-experience.jpg" %}
{% set expDesc = excerpt or description or title %}

<script type="application/ld+json">
{
 "@context": "https://schema.org",
 "@graph": [

  {
    "@type": "TouristAttraction",
    "@id": "https://paradize.life{{ page.url }}#experience",

    "name": "{{ title | escape }}",
    "description": "{{ expDesc | escape }}",

    "image": {
      "@type": "ImageObject",
      "url": "https://paradize.life{{ expImage }}"
    },

    "touristType": "Luxury traveler",

    "isLocatedAt": {
      "@type": "Place",
      "name": "{{ destination }}",
      "containedInPlace": {
        "@type": "Country",
        "name": "{{ country }}"
      }
    },

    "keywords": "{{ title }}, {{ destination }}, {{ country }}, {{ continent }}, luxury experience",

    "subjectOf": {
      "@type": "WebPage",
      "url": "https://paradize.life{{ page.url }}"
    }
  },

  {
    "@type": "BreadcrumbList",
    "itemListElement": [
      {
        "@type": "ListItem",
        "position": 1,
        "name": "Home",
        "item": "https://paradize.life/"
      },
      {
        "@type": "ListItem",
        "position": 2,
        "name": "{{ continent }}",
        "item": "https://paradize.life/continents/{{ continent }}/"
      },
      {
        "@type": "ListItem",
        "position": 3,
        "name": "{{ country }}",
        "item": "https://paradize.life/countries/{{ country }}/"
      },
      {
        "@type": "ListItem",
        "position": 4,
        "name": "{{ destination }}",
        "item": "https://paradize.life/destinations/{{ destination }}/"
      },
      {
        "@type": "ListItem",
        "position": 5,
        "name": "{{ title | escape }}",
        "item": "https://paradize.life{{ page.url }}"
      }
    ]
  },
"audience": {
 "@type": "Audience",
 "audienceType": "Luxury traveler"
},

"additionalType": "https://schema.org/TouristTrip",

"SpeakableSpecification": {
 "xpath": [
   "/html/head/title",
   "//h1",
   "//p[1]"
 ]
}


 ]
}
</script>

