<script type="application/ld+json">
{
 "@context": "https://schema.org",

 "@type": "Continent",

 "name": "{{ title }}",
 "description": "{{ excerpt }}",

 "mainEntityOfPage": {
   "@type": "WebPage",
   "url": "https://paradize.life{{ page.url }}"
 },

 "hasPart": [
   {
     "@type": "WebPage",
     "name": "Countries in {{ title }}",
     "url": "https://paradize.life/continents/{{ slug }}/countries/"
   },
   {
     "@type": "WebPage",
     "name": "Destinations in {{ title }}",
     "url": "https://paradize.life/continents/{{ slug }}/destinations/"
   },
   {
     "@type": "WebPage",
     "name": "Experiences in {{ title }}",
     "url": "https://paradize.life/continents/{{ slug }}/experiences/"
   },
   {
     "@type": "WebPage",
     "name": "Blogs about {{ title }}",
     "url": "https://paradize.life/continents/{{ slug }}/blog/"
   }
 ]
}
</script>
