---
layout: experience-category.njk
pagination:
  data: collections.experienceCategoryPages
  size: 1
  alias: categoryPage
permalink: "/experiences/{{ categoryPage.category }}/"
eleventyExcludeFromCollections: true
---




