<section class="swiper categories-swiper mt-40 mb-40">
  <div class="swiper-wrapper">

    <div class="bloggingcard-two call-hero swiper-slide">
      <h4>Private Jets</h4>
      <a rel="sponsored noopener" target="_blank" class="btn"
         href="https://www.villiersjets.com/?id=9474">Book Jet</a>
    </div>

    <div class="bloggingcard-three call-hero swiper-slide">
      <h4>Luxury Hotels</h4>
      <a rel="sponsored noopener" target="_blank" class="btn"
         href="https://expedia.com/affiliate/kpS9be0">View Hotels</a>
    </div>

    <div class="bloggingcard-one call-hero swiper-slide">
      <h4>Cheap Flights</h4>
      <a rel="sponsored noopener" target="_blank" class="btn"
         href="https://tp.media/click?shmarker=610677&promo_id=3673">Find Flights</a>
    </div>

    <div class="bloggingcard-four call-hero swiper-slide">
      <h4>Travel Gear</h4>
      <a rel="sponsored noopener" target="_blank" class="btn"
         href="https://amzn.to/4lbDtO5">Shop Gear</a>
    </div>

    <div class="bloggingcard-five call-hero swiper-slide">
      <h4>Tours & Experiences</h4>
      <a rel="sponsored noopener" target="_blank" class="btn"
         href="https://www.viator.com/?pid=P00218939">Explore Tours</a>
    </div>

    <div class="bloggingcard-six call-hero swiper-slide">
      <h4>Airport Transfers</h4>
      <a rel="sponsored noopener" target="_blank" class="btn"
         href="https://kiwitaxi.tpk.mx/7OgDoKGT">Book Transfer</a>
    </div>

  </div>
</section>
