        <section
          style="
            margin-top: 2rem;
            padding: 2rem 1.2rem;
            background: #ece1e1;
            border-radius: 10px;
          "
        >
          <h3 class="color-blue" id="author">About the Author</h3>
          <p>
            <a class="link" href="/About-Us.html"
              ><strong>Paradise Luxury Travel</strong></a
            >
            is a global travel content team dedicated to crafting best travel
            insights, experience-driven destination guides. The Paradise Travel
            Team does the best work in looking for best destinations and travel
            companies to give you the best travel experience. This article is
            reguraly updated to reflect current hotel and tour information.
          </p>
        </section>