    <!-- travel deals -->
    <section id="travel1 " class="travel-deals pb-50 pt-50">
      <div class="deals dealz">
        <a
          href="/continents/europe"
        >
          <div class="card-daelz cardz1">
            <h3 class="color-secondary">EUROPE</h3>
          </div>
        </a>
        <a
          href="/continents/africa"
        >
          <div class="card-daelz cardz2">
            <h3 class="color-secondary">AFRICA</h3>
          </div>
        </a>
        <a href="/continents/asia">
          <div class="card-daelz cardz3">
            <h3 class="color-secondary">ASIA</h3>
          </div>
        </a>
      </div>
      <div class="deals dealz">
        <a
          href="/continents/north-america"
        >
          <div class="card-daelz cardz4">
            <h3 class="color-secondary">NORTH AMERICA</h3>
          </div>
        </a>
        <a
          href="/continents/south-america"
        >
          <div class="card-daelz cardz5">
            <h3 class="color-secondary">SOUTH AMERICA</h3>
          </div>
        </a>
        <a
          href="/continents/australia"
        >
          <div class="card-daelz cardz6">
            <h3 class="color-secondary">AUSTRALIA</h3>
          </div>
        </a>
      </div>
    </section>