<div id="cookieBanner" class="cookie-banner" aria-hidden="true">
  <p>
    We use cookies to analyze traffic and improve your experience.
    By clicking “Accept”, you consent to the use of analytics cookies.
    <a href="/privacy" class="link">Learn more</a>
  </p>
  <div class="cookie-actions">
    <button id="cookieAccept" class="btn3">Accept</button>
    <button id="cookieReject" class="btn btn-outline">Reject</button>
  </div>
</div>