
    <section class="ebooks" id="ebook">
      <div class="ebook-container">
        <h2>Guide of the Year 2025</h2>

        <p class="lh-1-5">
          Unlock the Secrets to Luxury Travel - Stay in Private Villas, Fly
          First-Class for Less & Book Exclusive VIP Experiences
        </p>
        <p class="lh-1-5">
          In this guide we show you how you can Travel Like a VIP
          <strong> Without Spending a Fortune!</strong>, whether five-star
          hotels, private yachts, and first-class flights but don't know where
          to start? The Ultimate Luxury Travel Guide 2025 is your exclusive
          passport to the world's most luxurious experiences—without breaking
          the bank.
        </p>
        <a target="blank_" href="https://payhip.com/b/U4Go1" class="btn"
          >Buy for $5</a
        >
      </div>
      <div class="ebookimg-container">
        <img
          class="ebook-img"
          src="images/ebook1.webp"
          alt="Ultimate Luxury Travel Guide 2025: Your VIP Guide to 5-Star Hotels, First-Class Flights & Exclusive Experiences"
          width="600"
          height="400"
          loading="lazy"
        />
      </div>
    </section>