    <div class="floating-menu">
      
      <div class="sub-buttons" id="subButtons">
        <a
          href="https://expedia.com/affiliates/expedia-home.hMJbWB1"
          target="_blank"
          rel="nofollow noopener"
          class="float-btn"
          title="Book Flights"
        >
          <span class="material-symbols-outlined">flight</span>
        </a>

        <a
          href="https://hotellook.tpk.mx/Fmhh4o28"
          target="_blank"
          rel="nofollow noopener"
          class="float-btn"
          title="Book Hotels"
        >
          <span class="material-symbols-outlined">hotel</span>
        </a>

        <a
          href="https://www.viator.com/?pid=P00218939&mcid=42383&medium=link&medium_version=selector"
          target="_blank"
          rel="nofollow noopener"
          class="float-btn"
          title="Find Tours"
        >
          <span class="material-symbols-outlined">map</span>
        </a>

        <a
          href="https://tp.media/click?shmarker=610677&promo_id=3673&source_type=link&type=click&campaign_id=111&trs=393596"
          target="_blank"
          rel="nofollow noopener"
          class="float-btn"
          title="Find Cheap Flights"
        >
          <span class="material-symbols-outlined">flight_takeoff</span>
        </a>

        <a
          href="https://www.villiersjets.com/?id=9474"
          target="_blank"
          rel="nofollow noopener"
          class="float-btn"
          title="Private Jets"
        >
          <span class="material-symbols-outlined">flight_class</span>
        </a>

        <a
          href="https://kiwitaxi.tpk.mx/7OgDoKGT"
          target="_blank"
          rel="nofollow noopener"
          class="float-btn"
          title="Airport Transfers"
        >
          <span class="material-symbols-outlined">local_taxi</span>
        </a>

        <a
          href="https://amzn.to/4lbDtO5"
          target="_blank"
          rel="nofollow noopener"
          class="float-btn"
          title="Travel Gear"
        >
          <span class="material-symbols-outlined">shopping_cart</span>
        </a>
      </div>

      <button class="float-btn main-btn" id="menuToggle" title="Open Menu">
        <span class="material-symbols-outlined">menu</span>
      </button>
    </div>