 <section class="socialmedia-icons">
      <section id="subscribe">
        <h2>Join Our Luxury Travel Newsletter</h2>
        <p>Get VIP travel deals and expert insights.</p>

        <form
          action="https://paradise-newsletter-cf9438.beehiiv.com/subscribe"
          method="GET"
          target="_blank"
          class="newsletter-form"
        >
          <input
            type="email"
            name="email"
            placeholder="Enter your email"
            required
          />
          <button type="submit" class="button">Subscribe</button>
        </form>
        <!-- <h3>FOLLOW US</h3> -->
      </section>
      <a
        target="blank_"
        rel="nofollow noopener"
        href="https://www.youtube.com/@paradise-lux"
        ><i class="bx bxl-youtube"></i
      ></a>
      <a
        target="blank_"
        rel="nofollow noopener"
        href="https://www.facebook.com/profile.php?id=61562869575815"
        ><i class="bx bxl-facebook-circle"></i
      ></a>
      <a
        target="blank_"
        rel="nofollow noopener"
        href="https://x.com/luxuryparadise0"
        ><i class="bx bxl-twitter"></i
      ></a>
      <a
        target="blank_"
        rel="nofollow noopener"
        href="https://www.tiktok.com/@luxury_paradis0"
        ><i class="bx bxl-tiktok"></i
      ></a>
      <a
        target="blank_"
        rel="nofollow noopener"
        href="https://www.pinterest.com/luxuryparadise101/"
        ><i class="bx bxl-pinterest"></i
      ></a>
      <a
        target="blank_"
        rel="nofollow noopener"
        href="https://www.instagram.com/luxuryparadise0/"
        ><i class="bx bxl-instagram"></i
      ></a>
      <a
        target="blank_"
        rel="nofollow noopener"
        href="www.linkedin.com/in/luxury-paradise-3a1a85314"
        ><i class="bx bxl-linkedin-square"></i
      ></a>
    </section>