    <div class="w-full h-30 mt-40 mb-40">
      <div class="travel-ad-img h-30 h-40-sm">
        <img src="/images/0verwater.webp" alt="Travel Destination" />
        <div class="travel-ad-overlay"></div>
        <div class="travel-ad-text">
          <h3 id="travel-ad-heading"></h3>
          <p>
            Find curated destinations for the right season, vibe & experiences.
          </p>
          <a
            href="/travellers/where-to-visit-next.html"
            target="_blank"
            class="travel-ad-btn"
            >✨ Discover Now</a
          >
        </div>
      </div>
    </div>