---
layout: base.njk
pagination:
  data: collections.countries
  size: 1
  alias: country
permalink: "/countries/{{ country.data.slug }}/blog/"
---

{% set heroTitle = country.data.title + " Travel Guides" %}

{% set heroDescription =
  "Expert travel guides, itineraries and insider tips for "
  + country.data.title +
  "."
%}

{% set heroImage = country.data.image %}

{% include "blocks/continent-hero.njk" %}


<section class="max-w-1100 mt-60">

  <h2>{{ country.data.title }} Guides</h2>

  <div class="destination-grid">

  {% for post in collections.blogs %}
    {% if post.data.country == country.data.slug %}

      <article class="blogpost">
        <img src="{{ post.data.image }}" />
        <h3>{{ post.data.title }}</h3>
        <p>{{ post.data.excerpt }}</p>
        <a href="{{ post.url }}">Read guide</a>
      </article>

    {% endif %}
  {% endfor %}

  </div>
</section>
